name: Java CI

on:
  pull_request:
    
  workflow_dispatch:

jobs:
  api-governance:
    uses: KushalBang456/API-Governance-POC/.github/workflows/api-governance.yaml@main
    with:
      swagger_path: 'swagger.yaml'
      baseline_filename: 'javatest-legacy.yaml'
      baseline_version: 'baseline-javatest-v1'